<div class="card card-w-title">
  <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
</div>
<ng-form #addForm="ngForm" >
  <div class="card">
  <p-card header="Informations Collaborateur">
    <div class="card p-fluid">
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="cin">CIN*</label>
          <input pInputText id="cin" name="cin" type="number" [(ngModel)]="cin" required/>
        </div>
        <div class="field col">
          <label for="nomComplet">Nom Complet*</label>
          <input pInputText id="nomComplet" name="nomComplet" type="text" [(ngModel)]="nomComplet" required/>
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="numCompte">Num Compte*</label>
          <input pInputText id="numCompte" name="numCompte" type="number" [(ngModel)]="numCompte" required />
        </div>
        <div class="field col">
          <label for="numSecuriteSociale">Num Securite Sociale</label>
          <input pInputText id="numSecuriteSociale" name="numSecuriteSociale" type="number" [(ngModel)]="numSecuriteSociale" />
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="dateNaissance">Date Naissance*</label>
          <p-calendar  [showIcon]="true" inputId="dateNaissance" name="dateNaissance" [required]="true" [(ngModel)]="dateNaissance" ></p-calendar>
        </div>
        <div class="field col">
          <label for="numTelephone">Num Telephone*</label>
          <input pInputText id="numTelephone" name="numTelephone" type="number" [(ngModel)]="numTelephone" required/>
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="adresse">Adresse</label>
          <input pInputText id="adresse" name="adresse" type="text" [(ngModel)]="adresse" />
        </div>
        <div class="field col">
          <label for="email">Email</label>
          <input pInputText id="email" name="email" type="email" [(ngModel)]="email" />
        </div>
      </div>
    </div>
  </p-card>

  <p-card header="Qualification">
    <div class="card p-fluid">
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="natureEtude">Nature d'Etude*</label>
          <p-dropdown id="natureEtude" name="natureEtude"  [options]="natureEtudeOptions" [(ngModel)]="selectedNatureEtude" [required]="true"></p-dropdown>
        </div>
        <div class="field col">
          <label for="certifications">Certifications</label>
          <input pInputText id="certifications" name="certifications" type="text" [(ngModel)]="certifications" />
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="niveauEtude">Niveau d'Etude*</label>
          <p-dropdown id="niveauEtude" name="niveauEtude" [options]="niveauEtudeOptions" [(ngModel)]="selectedNiveauEtude" [required]="true" ></p-dropdown>
        </div>
        <div class="field col">
          <label for="anneeExperience">Annee d'Experience*</label>
          <input pInputText id="anneeExperience" name="anneeExperience" type="text" [(ngModel)]="anneeExperience" [required]="true" />
        </div>
      </div>
    </div>
  </p-card>

  <p-card header="Contrat">
    <div class="card p-fluid">
      <div class="p-formgrid grid">
        <div class="field col">
          <label>Type de Contrat*</label>
          <p-dropdown id="typeContrat" name="typeContrat"  (onChange)="OnSelectType()" [options]="contractTypesList" [required]="true"  [(ngModel)]="selectedTypeContrat" placeholder="choisir un type de contrat"></p-dropdown>
        </div>
        <div class="field col">
          <label>Salaire de Base*</label>
          <input pInputText id="salaireDeBase" name="salaireDeBase" [required]="true" type="text" [(ngModel)]="salaireDeBase" />
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label>Avantage sur Salaire</label>
          <p-dropdown id="avantageSalaire" name="avantageSalaire" [options]="avantages"  [(ngModel)]="selectedAvantage"></p-dropdown>
        </div>
        <div class="field col">
          <label>Date Début de Contrat</label>
          <p-calendar [showIcon]="true" id="dateDebutContrat" name="dateDebutContrat" [(ngModel)]="dateDebutContrat"></p-calendar>
        </div>
      </div>
      <div *ngIf="selectedTypeContrat === 'CDD'" class="p-formgrid grid">
        <div class="field col">
          <label>Date fin de Contrat</label>
          <p-calendar [showIcon]="true" id="dateDebutContrat" name="dateFinContrat" [(ngModel)]="dateDebutContrat"></p-calendar>
        </div>
      </div>
    </div>
  </p-card>

  <p-card header="Grade">
    <div class="card p-fluid">
      <div class="p-formgrid grid">
        <div class="field col">
          <label>Dpartement*</label>
          <p-dropdown [options]="departmentsList" (onChange)="onDepartementChange($event.value)" placeholder="choisir departement"  [(ngModel)]="selectedDepartement"></p-dropdown>
        </div>
        <div class="field col">
          <label>Poste*</label>
          <p-dropdown id="poste" name="poste" [options]="postes" (onChange)="onPosteChange($event)" [(ngModel)]="selectedPoste" placeholder="choisir le poste"></p-dropdown>
        </div>
      </div>
      <div class="p-formgrid grid">
        <div *ngIf="showResponsableDropdown === true" class="field col">
          <label>Responsable</label>
          <p-dropdown id="responsable" name="responsable" [options]="responsables" [(ngModel)]="selectedResponsable"></p-dropdown>
        </div>
      </div>
    </div>

  </p-card>

  <p-card header="Pieces Jointes" class="pieces-card">
    <div class="card p-fluid">
      <p-fileUpload
      mode="basic"
      chooseLabel="Choose"
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept=".pdf"
      [maxFileSize]="1000000"
      (onUpload)="onBasicUpload($event)"
    ></p-fileUpload>      <p-table [value]="documents">
        <ng-template pTemplate="header">
          <tr>
            <th>Documents</th>
            <th>Obligatoire</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document>
          <tr>
            <td>{{ document.name }}</td>
            <td>
              <ng-container *ngIf="obligedDocuments.includes(document.name)">oui</ng-container>
              <ng-container *ngIf="!obligedDocuments.includes(document.name)">non</ng-container>
            </td>
            <td>
              <p-checkbox [binary]="true" [disabled]="obligedDocuments.includes(document.name)" ></p-checkbox>
            </td>
          </tr>
        </ng-template>
      </p-table>


    </div>
  </p-card>

  <p-card header="Autre Informations">
    <div class="card p-fluid">
      <div class="p-formgrid grid">
        <div class="field-checkbox">
          <p-checkbox name="group1" value="true" [(ngModel)]="recommendation" id="recommendation"></p-checkbox>
          <label for="recommendation" class="ml-2">Recommendation</label>
        </div>
        <div *ngIf="recommendation != false" class="col-12 md:col-6">
          <label>Collaborateurs</label>
          <input pInputText id="collaborateurs" name="collaborateurs" type="text" [(ngModel)]="collaborateurs" />
        </div>
        <div *ngIf="recommendation != false" class="col-12 md:col-4">
          <label class="block text-sm font-medium text-gray-700">Comment</label>
          <textarea pInputTextarea id="comment" name="comment" [(ngModel)]="comment" class="mt-1 p-2"></textarea>
        </div>
      </div>
    </div>
  </p-card>
  <p></p>
  <div class="modal-footer d-flex justify-content-end">
    <button  pButton pRipple label="Initialiser" icon="pi pi-times" class="p-button-text"></button>
    <button [disabled]="addForm.invalid" (click)="addCollaborator(addForm)" pButton pRipple label="Enregistre" icon="pi pi-check" class="p-button-text"></button>
  </div>


</div>
</ng-form>

