  <div class="card card-w-title">
      <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
  </div>

<div class="card">
  <div class="grid">

    <div class="col-12 lg:col-6 xl:col-4">
      <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3"> Masse salariale</span>
                  <div class="text-900 font-medium text-xl">{{massSalariale}}</div>
              </div>
              <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                <i class="pi pi-money-bill text-blue-500 text-xl"></i>
            </div>
          </div>


      </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">AVG salaire :</span>
                <div class="text-900 font-medium text-xl">{{averageSalary}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
              <i class="pi pi-dollar text-cyan-500 text-xl"></i>
          </div>
        </div>

    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Doghnut des ages :</span>
          <p-chart  type="doughnut" [data]="data" [options]="options" height="180px" width="200px"></p-chart>
        </div>
        <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-chart-pie text-purple-500 text-xl"></i>
      </div>

      </div>
    </div>
  </div>

    </div>



  <button pButton pRipple label="Ajouter collaborateur" icon="pi pi-plus" class="p-button-success mr-2" (click)="addNewCollab()"></button>
  <p></p>
  <p-table [value]="collaborateurs">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID<p-sortIcon field="code"></p-sortIcon> </th>
        <th pSortableColumn="nomComplet">Nom Complet<p-sortIcon field="code"></p-sortIcon> </th>
        <th pSortableColumn="poste.posteName">Poste<p-sortIcon field="code"></p-sortIcon> </th>
        <th pSortableColumn="contractType.type">Type Contrat<p-sortIcon field="code"></p-sortIcon> </th>
        <th pSortableColumn="anneeExperience">Years of Experience<p-sortIcon field="code"></p-sortIcon> </th>
        <th >Actions </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-collaborateur>
      <tr>
        <td>{{ collaborateur.id }}</td>
        <td>{{ collaborateur.nomComplet }}</td>
        <td>{{ collaborateur.poste?.posteName }}</td>
        <td>{{ collaborateur.contractType?.type }}</td>
        <td>{{ collaborateur.anneeExperience }}</td>

        <td>
          <div class="flex">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="updateCollab(collaborateur)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteProduct(collaborateur.id,collaborateur.name)"></button>
              <button pButton  pRipple icon="pi pi-file-pdf"  class="p-button-rounded p-button-danger" (click)="downloadPDF(collaborateur.piecesJointe.id)"></button>

          </div>
      </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span >Are you sure you want to delete <b>{{collabNametoDelete}}</b>?</span>
  </div>
  <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
  </ng-template>
</p-dialog>



<p-dialog [(visible)]="collabDialog" [style]="{width: '800px'}" header="Product Details" [modal]="true" class="p-fluid">
              <ng-form  #addForm="ngForm" >
                <div class="card">
                <p-card header="Informations Collaborateur">
                  <div class="card p-fluid">
                    <div class="p-formgrid grid">
                      <div class="field col">
                        <label for="cin">CIN*</label>
                        <input
                          pInputText
                          id="cin"
                          name="cin"
                          type="number"
                          [(ngModel)]="cin"
                          required
                          pattern="\d{8}"
                        />
                        <div *ngIf="addForm.controls['cin'].invalid && (addForm.controls['cin'].dirty || addForm.controls['cin'].touched)">
                          <small class="text-danger" *ngIf="addForm.controls['cin'].errors?.required">CIN is required.</small>
                          <small class="text-danger" *ngIf="addForm.controls['cin'].errors?.pattern">CIN must be 8 digits.</small>
                        </div>
                      </div>
                      <div class="field col">
                        <label for="nomComplet">Nom Complet*</label>
                        <input pInputText id="nomComplet" name="nomComplet" type="text" [(ngModel)]="nomComplet" required/>
                      </div>
                    </div>
                    <div class="p-formgrid grid">
                      <div class="field col">
                        <label for="numCompte">Num Compte*</label>
                        <input
                          pInputText
                          id="numCompte"
                          name="numCompte"
                          type="number"
                          [(ngModel)]="numCompte"
                          required
                          pattern="\d{13}"
                        />
                        <div *ngIf="addForm.controls['numCompte'].invalid && (addForm.controls['numCompte'].dirty || addForm.controls['numCompte'].touched)">
                          <small class="text-danger" *ngIf="addForm.controls['numCompte'].errors?.required">Num Compte is required.</small>
                          <small class="text-danger" *ngIf="addForm.controls['numCompte'].errors?.pattern">Num Compte must be 13 digits.</small>
                        </div>

                      </div>
                      <div class="field col">
                        <label for="numSecuriteSociale">Num Securite Sociale</label>
                        <input pInputText id="numSecuriteSociale" name="numSecuriteSociale" type="number" [(ngModel)]="numSecuriteSociale"  pattern="\d{15}" />
                        <div *ngIf="addForm.controls['numSecuriteSociale'].invalid && (addForm.controls['numSecuriteSociale'].dirty || addForm.controls['numSecuriteSociale'].touched)">
                          <small class="text-danger" *ngIf="addForm.controls['numSecuriteSociale'].errors?.pattern">Num securite sociale must be 15 digits.</small>
                        </div>
                      </div>

                    </div>
                    <div class="p-formgrid grid">
                      <div class="field col">
                        <label for="dateNaissance">Date Naissance*</label>
                        <p-calendar  [showIcon]="true" inputId="dateNaissance" name="dateNaissance" [required]="true" [(ngModel)]="dateNaissance" dateFormat="dd/mm/yy"></p-calendar>
                      </div>
                      <div class="field col">
                        <label for="numTelephone">Num Telephone*</label>
                        <input pInputText id="numTelephone" name="numTelephone" type="number" [(ngModel)]="numTelephone" required/>
                      </div>
                    </div>
                    <div class="p-formgrid grid">
                      <div class="field col">
                        <label for="adresse">Adresse</label>
                        <input pInputText id="adresse" name="adresse" type="text" [(ngModel)]="adresse" />
                      </div>
                      <div class="field col">
                        <label for="email">Email</label>
                        <input pInputText id="email" name="email" type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [(ngModel)]="email"  mail/>
                        <div *ngIf="addForm.controls['email'].invalid && (addForm.controls['email'].dirty || addForm.controls['email'].touched)">
                          <small class="text-danger" *ngIf="addForm.controls['email'].errors?.required">maile is required.</small>
                          <small class="text-danger" *ngIf="addForm.controls['email'].errors?.pattern">mail is not valid.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-card>

                <p-card header="Qualification">
                  <div class="card p-fluid">
                    <div class="p-formgrid grid">
                      <div class="field col">
                        <label for="natureEtude">Nature d'Etude*</label>
                        <p-dropdown id="natureEtude" name="natureEtude"  [options]="natureEtudeOptions" [(ngModel)]="selectedNatureEtude" [required]="true"[ngModelOptions]="{ standalone: true }" ></p-dropdown>
                      </div>
                      <div class="field col">
                        <label for="certifications">Certifications</label>
                        <input pInputText id="certifications" name="certifications" type="text" [(ngModel)]="certifications" />
                      </div>
                    </div>
                    <div class="p-formgrid grid">
                      <div class="field col">
                        <label for="niveauEtude">Niveau d'Etude*</label>
                        <p-dropdown id="niveauEtude" name="niveauEtude" [options]="niveauEtudeOptions" [(ngModel)]="selectedNiveauEtude" [required]="true" [ngModelOptions]="{ standalone: true }" ></p-dropdown>
                      </div>
                      <div class="field col">
                        <label for="anneeExperience">Annee d'Experience*</label>
                        <input pInputText id="anneeExperience" name="anneeExperience" type="text" [(ngModel)]="anneeExperience" [required]="true" />
                      </div>
                    </div>
                  </div>
                </p-card>

                <p-card header="Contrat">
                  <div class="card p-fluid">
                    <div class="p-formgrid grid">
                      <div class="field col">
                        <label>Type de Contrat*</label>
                        <p-dropdown
                          id="typeContrat"
                          name="typeContrat"
                          (onChange)="OnSelectType(true)"
                          [options]="contractTypesList"
                          [(ngModel)]="selectedTypeContrat"
                          placeholder="choisir un type de contrat"
                        ></p-dropdown>
                      </div>
                      <div class="field col">
                        <label>Salaire de Base*</label>
                        <input pInputText id="salaireDeBase" name="salaireDeBase" [required]="true" type="text" [(ngModel)]="salaireDeBase" />
                      </div>
                    </div>
                    <div class="p-formgrid grid">
                      <div class="field col">
                        <label>Avantage sur Salaire</label>
                        <p-dropdown id="avantageSalaire" name="avantageSalaire" [options]="avantages"  [(ngModel)]="selectedAvantage"></p-dropdown>
                      </div>
                      <div class="field col">
                        <label>Date Début de Contrat</label>
                        <p-calendar [showIcon]="true" id="dateDebutContrat" name="dateDebutContrat"  [(ngModel)]="dateDebutContrat" ></p-calendar>
                      </div>
                    </div>
                    <div *ngIf="selectedTypeContrat === 'CDD'" class="p-formgrid grid">
                      <div class="field col">
                        <label>Date fin de Contrat</label>
                        <p-calendar [showIcon]="true" id="dateDebutContrat" name="dateFinContrat" [(ngModel)]="dateFinContrat"></p-calendar>
                      </div>
                    </div>
                  </div>
                </p-card>

                <p-card header="Grade">
                  <div class="card p-fluid">
                    <div class="p-formgrid grid">
                      <div class="field col">
                        <label>Dpartement*</label>
                        <p-dropdown [options]="departmentsList" (onChange)="onDepartementChange($event.value)"
                       [(ngModel)]="selectedDepartement" [ngModelOptions]="{ standalone: true }" ></p-dropdown>
                      </div>
                      <div class="field col">
                        <label>Poste*</label>
                        <p-dropdown id="poste" name="poste" [options]="postes" (onChange)="onPosteChange($event)" [(ngModel)]="selectedPoste" ></p-dropdown>
                      </div>
                    </div>
                    <div class="p-formgrid grid">
                      <div *ngIf="showResponsableDropdown === true" class="field col">
                        <label>Responsable</label>
                        <p-dropdown id="responsable" name="responsable" [options]="responsables" [(ngModel)]="selectedResponsable" [ngModelOptions]="{ standalone: true }" ></p-dropdown>
                      </div>
                    </div>
                  </div>

                </p-card>

                <p-card header="Pieces Jointes" class="pieces-card">
                  <div class="card p-fluid">
                    <p-fileUpload
                    mode="basic"
                    chooseLabel="Choose"
                    name="demo[]"
                    url="https://www.primefaces.org/cdn/api/upload.php"
                    accept=".pdf"
                    [maxFileSize]="4 * 1024 * 1024"
                    (onUpload)="onBasicUpload($event)"
                  ></p-fileUpload>      <p-table [value]="documents">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Documents<p-sortIcon field="code"></p-sortIcon> </th>
                          <th>Obligatoire<p-sortIcon field="code"></p-sortIcon> </th>
                          <th>Status<p-sortIcon field="code"></p-sortIcon> </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-document>
                        <tr>
                          <td>{{ document.name }}</td>
                          <td>
                            <ng-container *ngIf="obligedDocuments.includes(document.name)">oui</ng-container>
                            <ng-container *ngIf="!obligedDocuments.includes(document.name)">non</ng-container>
                          </td>
                          <td>
                            <p-checkbox [binary]="true" [disabled]="obligedDocuments.includes(document.name)" ></p-checkbox>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>


                  </div>
                </p-card>

                <p-card header="Autre Informations">
                  <div class="card p-fluid">
                    <div class="p-formgrid grid">
                      <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" [(ngModel)]="recommendation" id="recommendation"  (ngModelChange)="toggleRecommendation($event)"></p-checkbox>
                        <label for="recommendation" class="ml-2">Recommendation</label>
                      </div>
                      <div *ngIf="recommendation != false" class="col-12 md:col-6">
                        <label>Collaborateur</label>
                        <p-autoComplete id="collaborateurs" name="collaborateurs" type="text" [(ngModel)]="selectedCollabName" [suggestions]="collaborateursListFinal" (completeMethod)="search($event)" ></p-autoComplete>

                      </div>
                      <div *ngIf="recommendation != false" class="col-12 md:col-4">
                        <label class="block text-sm font-medium text-gray-700">Comment</label>
                        <textarea pInputTextarea id="comment" name="comment" [(ngModel)]="comment" class="mt-1 p-2"></textarea>
                      </div>

                    </div>
                  </div>
                </p-card>

                <div class="modal-footer d-flex justify-content-end">
                  <button pButton pRipple label="Cancel" class="p-button-text" (click)="hideDialog()"></button>
                  <button pButton pRipple label="Save" class="p-button-success p-button-text" (click)="saveUpdate(addForm)"></button>
                </div>


              </div>



              </ng-form>



  </p-dialog>

  <p-toast></p-toast>
