
<div class="card">
  
  <div class="additional-info text-right"> <!-- Added the text-right class -->
    <span class="p-float-label">
      <input type="text" placeholder="Masse salariale" pInputText />
    </span>
    <span class="p-float-label">
      <input type="text" placeholder="Salaire Moyen" pInputText />
    </span>
    <span class="p-float-label">
      <input type="text" placeholder="Pyramides des ages" pInputText />
    </span>
  </div>
  <button pButton type="button" label="Add New Collab" class="ui-button-success" (click)="addNewCollab()"></button>
  <p></p>
  <p-table [value]="collaborateurs">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nom Complet</th>
        <th>Poste</th>
        <th>Type Contrat</th>
        <th>Years of Experience</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-collaborateur>
      <tr>
        <td>{{ collaborateur.id }}</td>
        <td>{{ collaborateur.nomComplet }}</td>
        <td>{{ collaborateur.poste?.posteName }}</td>
        <td>{{ collaborateur.contractType?.type }}</td>
        <td>{{ collaborateur.anneeExperience }}</td>
        <td class="icon-cell">
          <i class="pi pi-search" style="font-size: 2rem"  (click)="updateCollab(collaborateur.id)"></i>
          <i class="pi pi-trash" style="font-size: 2rem ; color: rgb(252, 0, 0)" (click)="deleteCollab(collaborateur.id)"></i>
          <i class="pi pi-file-pdf" style="font-size: 2rem ; color: rgb(90, 205, 161)"(click)="downloadPDF(collaborateur.id)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

